  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
    width: 1330px;
    background: hsl(0, 100%, 50%);
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'calibri';
    color: white;
}
.imagen{
    width: 108px;
    height: 74px; 
    margin-top: -100px;

}
.form-register {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid red;
  font-family: 'calibri';
  font-size: 18px;
  color:black;
}

.form-register .botons {
  width: 100%;
  background: red;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.botons{
  width: 100px;
    background: hsl(0, 100%, 50%);
    padding: 10px;
    margin: 10px;
    margin-top: 1px;
    border-radius: 4px;
    color: white;
    font-size: 10px;
  
}

.form-register .tabla {
  width: 100px;
  margin: 0 auto;
  border: 1px;
}
body{
  background: "Fondos/este.jpg" no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  footer{
    width: 1330px;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'Arial';
    color: white;
}
.table{
  width: 1330px;
  background: rgba(196, 187, 187, 0.308);
  margin: 10px ;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px ;
  grid-auto-rows: 30px;
}

.table--titleE{
  width: 1310px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 16;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
.table-empleado{
  font-weight: bold;
  font-size: 15px;
}
.table-empl{
  padding: 20px;
  font-size: 10px;
}

.table--titleP{
  width: 1310px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 10;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
.table-producto{
  font-weight: bold;
  font-size: 20px;
}
.table-prod{
  padding: 20px;
  font-size: 15px;
}

.table--titlePr{
  width: 1310px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 10;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
.table-proveedor{
  font-weight: bold;
  font-size: 20px;
}
.table-prov{
  padding: 20px;
  font-size: 15px;
}

.table--titleOf{
  width: 1310px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 8;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
.table-oferton{
  font-weight: bold;
  font-size: 20px;
}
.table-ofer{
  padding: 20px;
  font-size: 15px;
}

.table--titleCo{
  width: 1310px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 4;
  background: red;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
.table-corte{
  font-weight: bold;
  font-size: 20px;
}
.table-cort{
  padding: 20px;
  font-size: 15px;
}